@model WebApplication2.Models.ReportsModel
@{
    ViewBag.Title = "Reports";
}
<h2>Exam Reports</h2>
<div class="container">
    @using (Html.BeginForm())

    {


        <div class="row">
            <div class="col-4">



                @Html.DropDownListFor(model => model.Classes, (IEnumerable<SelectListItem>)Model.classlist, new { @class = "form-control", id = "classid" })
            </div>
            <div class="col-4">


                @Html.DropDownListFor(model => model.Exams, (IEnumerable<SelectListItem>)Model.examlist, new { @class = "form-control", id = "examid" })
            </div>
            <div class="col-2">


                <input class="btn btn-primary" type="submit" />
            </div>

        </div>
    }
</div>
@using (Html.BeginForm())

{
    if (ViewBag.students != null)
    {

        <div class="card shadow-lg  border rounded-lg mt-3 col-md-9">
            <div class="card-body">

                <table id="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Admission")

                            </th>


                            <th>
                                @Html.DisplayName("Student Name")

                            </th>

                            <th>
                                @Html.DisplayName("Class")

                            </th>
                            <th>
                                @Html.DisplayName("Action")

                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        @for (int i = 0; i < ViewBag.students.Count; i++)
                        {
                            <tr>
                                <td>
                                    <p>@ViewBag.students[i].admissionnum</p>
                                </td>
                                <td>
                                    <p>@ViewBag.students[i].studentname</p>

                                </td>
                                <td>
                                    <p>@ViewBag.students[i].studentname</p>

                                </td>
                                <td>
                                    <input type="hidden" class="form-control" name="AddmissionNum" value="@ViewBag.students[i].admissionnum" />
                                    <input type="hidden" class="form-control" name="Exams" value="@Model.Exams" />
                                    <input type="submit" value="Report" />
                                </td>

                            </tr>

                        }

                    </tbody>

                </table>


            </div>
        </div>
    }
}